<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://192.168.0.124/iPhone%E5%AE%A2%E6%88%B7%E7%AB%AF/%E5%AE%A2%E6%88%B7%E5%AE%9A%E5%88%B6/%E9%AD%94%E4%BB%86/MPlayer.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.rooyeetone.MPlayer</string>
				<key>bundle-version</key>
				<string>2.3.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>魔仆</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
